.counts {
    padding: 70px 0 60px;
    margin-top: 50px;
    background: #f1f7fd;

  }
  .counts .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: #ffffff;

  }
  .icon {
    position: absolute;
    padding: 13px;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    background: #1977cc;
    color: #fff;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
  }
  .counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #082744;
  }
  .counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: "Samim";
    font-size: 20px;
  }