.mobile-nav-toggle {
  color: #2c4964;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.offcanvas-title {
  font: 1.5em "Samim";
}
.offcanvas-body a{
  font: 1em "Samim";
}
.list-group ul{
    list-style: none;
    padding: 0;
}
#mobile-btn-nav{
    background: transparent;
    border: none;
    padding: 0;
    min-width: 100%;
}
