.mobile-nav-toggle {
  color: #2c4964;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none !important;
  }
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.offcanvas-title {
  font: 1.5em "Samim";
  margin: auto;
}
.offcanvas-body a {
  font: 1em "Samim";
}
.list-group ul {
  list-style: none;
  padding: 0;
}
#mobile-btn-nav {
  background: transparent;
  border: none;
  padding: 0;
  min-width: 100%;
}
.mob-item {
  border-radius: 0.5rem;
  transition: all 0.3s;
  margin-bottom: 0;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: block;
  color: #212529;
  text-decoration: none;
  width: 100%;
  text-align: inherit;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.mob-item:hover {
  background: #1076d6;
  color: white !important;
}
#mobile-btn-nav:hover {
  color: white;
}
@media (max-width: 532px) {
  .offcanvasHeader {
    justify-content: space-between;
  }
}
@media (min-width: 533px) {
  .offcanvasHeader {
    justify-content: flex-end;
  }
  #accountMobLink {
    display: none;
  }
  #logout-mob-menue {
    display: none;
  }
}
@media (min-width: 533px) {
  #buttonsOfMenue {
    display: none !important;
  }
}
