#bg-result {
  margin: 130px 0;
}
#search {
  box-shadow: 0px 5px 22px rgba(25, 119, 204, 0.5);
  border-radius: 1rem;
  height: 430px;
  width: 300px;
  right: 6%;
  animation: move_show 1.3s;
  background: #1076d6;
}
.adSearchTitle {
  color: white;
}
@keyframes move_show {
  0% {
    opacity: 0;
    transform: translate(0, 50%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
#StickyBox {
  top: 150px !important;
}
@media (max-width: 1100px) {
  #search {
    width: 270px;
  }
}
@media (max-width: 970px) {
  #search {
    width: 240px;
  }
}
@media (max-width: 880px) {
  #search {
    width: 220px;
  }
}
@media (max-width: 768px) {
  #search {
    width: 100%;
    right: 0;
    margin: auto;
  }
}
.cart {
  position: relative;
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 30px;
  padding: 5px 50px 5px 10px;
  background-color: #fff;
  box-shadow: 0 9px 15px 1px rgba(64, 64, 64, 0.2);
  animation: fade_in_show 1s;
  border: solid 1px #1076d6;
}
@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.cart .cart-label {
  display: block;
  margin-bottom: 15px;
  color: #8c8c8c;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.cart .cart-doctor {
  display: table;
  width: 100%;
  text-decoration: none;
}
.cart .cart-doctor-thumb,
.cart .cart-doctor-info {
  display: table-cell;
  vertical-align: top;
}
.cart .cart-doctor-thumb > img {
  display: block;
  width: 100%;
  border: double rebeccapurple;
  padding: 0.05rem;
}
.cart .cart-doctor-info {
  padding-top: 5px;
}
.cart .cart-doctor-info > span {
  display: block;
  margin-bottom: 2px;
  color: #404040;
  font-size: 12px;
}
.cart .cart-doctor-title {
  margin-bottom: 8px;
  transition: color, 0.3s;
  color: #343b43;
  font-size: 16px;
  font-weight: bold;
}
.cart .count-input {
  display: inline-block;
  width: 85px;
}
.cart .remove {
  right: -10px !important;
}
@media (max-width: 991px) {
  .cart {
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  .cart {
    padding-right: 10px;
    padding-bottom: 15px;
  }
  .cart .cart-doctor {
    display: block;
    width: 100%;
    text-align: center;
  }
  .cart .cart-doctor-thumb,
  .cart .cart-doctor-info {
    display: block;
  }
  .cart .cart-doctor-info {
    padding-left: 0;
  }
  .cart .cart-label {
    margin-bottom: 8px;
  }
}
.dynamic-star-container:not(:last-child) {
  margin-right: 0;
}
@media (max-width: 576px) {
  .rowOfCart {
    align-content: center;
  }
}
@media (max-width: 576px) {
  .cart-doctor-info {
    margin: 10px 0;
    order: 1;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .star {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}
#appointment {
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
}
#appointment {
  margin: 5px;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-family: "Sahel";
  border: none;
}
#appointment:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
#appointment:active {
transform: scale(1.1);
}
.adSearchBtn {
  background-image: linear-gradient(
    to right,
    #f7971e 0%,
    #ffd200 51%,
    #f7971e 100%
  );
  margin: 10px;
  border: none;
  padding: 5px 15px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  display: block;
}
.adSearchBtn:hover {
  background-position: right center;
  color: rgb(0, 0, 0);
}
.adSearchBtn:active {
  transform: scale(1.1);
}
.expertInput:focus {
  outline: none;
  box-shadow: none;
}
