.fixedBack {
  background: #0d6efd;
}
@keyframes fade_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.back-prof {
  background: rgb(255, 255, 255);
  font-family: "Sahel";
  padding: 1rem;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.25);
  border: solid 2px #0d6efd;
  max-width: 94vw;
  animation: fade_show 1.6s;
}
.widget-author {
  margin-bottom: 58px;
}
.panel {
  border-radius: 1rem;
}
@keyframes change_scale_show{
  0%{
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.dashboard{
  animation: change_scale_show 0.7s;
}
.author-card {
  border-radius: 1rem;
  position: relative;
  padding-bottom: 48px;
  background-color: #fff;
  box-shadow: 0 6px 13px 1px rgba(64, 64, 64, 0.3);
  z-index: 20;
}
.author-card .author-card-cover {
  position: relative;
  border-radius: 1rem;
  width: 100%;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.author-card-cover {
  background-image: url(https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg);
}
.author-card .author-card-cover::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.5;
}
.author-card .author-card-profile {
  position: relative;
  margin-top: -22px;
  padding-right: 15px;
  padding-bottom: 16px;
  padding-left: 20px;
  z-index: 5;
}
.author-card-avatar {
  width: 85px;
  border-radius: 50%;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.author-card-avatar > img {
  display: block;
  width: 100%;
  height: 100%;
}
.author-card-details {
  padding-top: 20px;
  padding-left: 15px;
}
@media (min-width: 991px) {
  .author-card .author-card-profile .author-card-details {
    padding-top: 26px;
    padding-left: 15px;
  }
}
.author-card-name {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}
.author-card-joined {
  display: block;
  color: #8c8c8c;
  font-size: 10px;
  font-weight: 600;
}
a.panel-item {
  color: #ffffff;
  font-weight: 600;
}
.panel-item {
  transition: all 0.3s;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.08em;
  border-radius: 0.5rem;
  padding: 1.1rem 0.4rem;
  border: solid 3px white;
  text-decoration: none;
}
.panel-item:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.4);
}
.panel-item:active {
  transform: scale(1.05);
}
.panel-item:last-child,
.panel-item:first-child {
  border-radius: 0.5rem;
}
.doctor-card {
  position: relative;
  max-width: 380px;
  padding-top: 12px;
  padding-bottom: 43px;
  transition: all 0.35s;
  border: 1px solid #e7e7e7;
}
.doctor-thumb {
  display: block;
}
.doctor-thumb > img {
  display: block;
  width: 100%;
}
.doctor-card-body {
  padding: 0 20px;
  text-align: center;
}
.doctor-title {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}
.cart-item {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  padding: 5px 50px 5px 10px;
  background-color: #fff;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09);
}
.cart-item-doctor {
  display: table;
  width: 100%;
  text-decoration: none;
}
.cart-item-doctor-thumb,
.cart-item-doctor-info {
  display: table-cell;
  vertical-align: top;
}
.cart-item-doctor-thumb {
  width: 110px;
}
.cart-item-doctor-thumb > img {
  display: block;
  width: 100%;
}
.cart-item-doctor-info {
  padding-top: 5px;
  padding-right: 15px;
}
.cart-item-doctor-info > span {
  display: block;
  margin-bottom: 2px;
  color: #404040;
  font-size: 12px;
}
.cart-item-doctor-title {
  margin-bottom: 8px;
  transition: color, 0.3s;
  color: #343b43;
  font-size: 16px;
  font-weight: bold;
}
@media (max-width: 991px) {
  .cart-item {
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  .cart-item {
    padding-right: 10px;
    padding-bottom: 15px;
  }
  .cart-item .cart-item-doctor {
    display: block;
    width: 100%;
    text-align: center;
  }
  .cart-item .cart-item-doctor-thumb,
  .cart-item .cart-item-doctor-info {
    display: block;
  }
  .cart-item .cart-item-doctor-thumb {
    margin: 0 auto 10px;
  }
  .cart-item .cart-item-doctor-info {
    padding-left: 0;
  }
}
.top-right-dot {
  display: block;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 22px;
  height: 22px;
  padding-left: 1px;
  border-radius: 50%;
  background-color: #ff5252;
  color: #fff;
  line-height: 23px;
  text-align: center;
  box-shadow: 0 3px 12px 0 rgba(255, 82, 82, 0.5);
}
.summery{
  border-radius: 1rem;
  position: relative;
  padding-bottom: 48px;
  background-color: #fff;
  box-shadow: 0 6px 13px 1px rgba(64, 64, 64, 0.3);
  z-index: 20;
}