/*--------------------------------------------------------------
# Public
--------------------------------------------------------------*/
@font-face {
  font-family: "Parastoo";
  src: url("./Web-font/Parastoo.eot");
  src: url("./Web-font/Parastoo.woff") format("woff"),
    url("./Web-font/Parastoo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sahel";
  src: url("./Web-font/Sahel.eot");
  src: url("./Web-font/Sahel.woff") format("woff"),
    url("./Web-font/Sahel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Samim";
  src: url("./Web-font/Samim.eot");
  src: url("./Web-font/Samim.woff") format("woff"),
    url("./Web-font/Samim.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shabnam";
  src: url("./Web-font/Shabnam.eot");
  src: url("./Web-font/Shabnam.woff") format("woff"),
    url("./Web-font/Shabnam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
a,
a:hover {
  text-decoration: none;
}
body::-webkit-scrollbar-track,
#modalSection::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

body::-webkit-scrollbar,
#modalSection::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb,
#modalSection::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(
    to left bottom,
    rgb(122, 153, 217),
    rgb(73, 125, 189),
    rgb(28, 58, 148)
  );
}
@-webkit-keyframes autofill {
  0%,
  100% {
    background: initial;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-background-clip: text !important;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.mainAbout {
  margin-top: 50px;
  margin-bottom: 100px;
}
.mainAbout h3 {
  font-family: "Sahel";
}
/*--------------------------------------------------------------
# WhyUs
--------------------------------------------------------------*/
@media (max-width: 1400px) {
  .why-us {
    margin: 90px 0 50px 0;
  }
}
@media (max-width: 1200px) {
  .why-us {
    margin: 145px 0 50px 0;
  }
}
@media (max-width: 991px) {
  .why-us {
    margin: 90px 0 50px 0;
  }
}
@media (max-width: 768px) {
  .why-us {
    margin: 160px 0 50px 0;
  }
}
@media (max-width: 576px) {
  .why-us {
    margin: 150px 0 50px 0;
  }
}
.why-us .content {
  font-family: "Samim";
  padding: 30px;
  background: #1977cc;
  border-radius: 4px;
}
.why-us h4 {
  font-family: "Samim";
}
.why-us .content h2 {
  font: 700 34px;
  margin-bottom: 30px;
}
.why-us .content p {
  margin-bottom: 30px;
}
.why-us .content .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 8px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}
.why-us .content .more-btn i {
  font-size: 14px;
}
.why-us .content .more-btn:hover {
  color: #1977cc;
  background: #fff;
}
.why-us .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
}
.why-us .icon-boxes .icon-box i {
  font-size: 40px;
  color: #1977cc;
  margin-bottom: 30px;
}
.why-us .icon-boxes .icon-box h4 {
  font: 700 20px;
  margin: 0 0 30px 0;
}
.why-us .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}
