/*--------------------------------------------------------------
# Public
--------------------------------------------------------------*/
body {
  /* transition: 0.6s; */
}
@font-face {
  font-family: "Parastoo";
  src: url("./Web-font/Parastoo.eot");
  src: url("./Web-font/Parastoo.woff") format("woff"),
    url("./Web-font/Parastoo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sahel";
  src: url("./Web-font/Sahel.eot");
  src: url("./Web-font/Sahel.woff") format("woff"),
    url("./Web-font/Sahel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Samim";
  src: url("./Web-font/Samim.eot");
  src: url("./Web-font/Samim.woff") format("woff"),
    url("./Web-font/Samim.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shabnam";
  src: url("./Web-font/Shabnam.eot");
  src: url("./Web-font/Shabnam.woff") format("woff"),
    url("./Web-font/Shabnam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
a , a:hover {
  text-decoration: none;
}
/*--------------------------------------------------------------
# topbar
--------------------------------------------------------------*/
#topbar {
  height: 40px;
  z-index: 996;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
@media screen and (max-width: 991px) {
  #header2 {
    order: 3;
  }
}
@media screen and (max-width: 532px) {
  #header3 {
    display: none;
  }
}
#header {
  z-index: 997;
  padding: 15px 0;
  top: 12px;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.25);
}
.logo {
  line-height: 1;
  font: 700 24px "Parastoo";
  letter-spacing: 0.5px;
}
.logo a {
  color: #000000;
  margin: 0 12px;
}
#header .logo img {
  max-height: 40px;
}
/*
* Header Button 
*/
.btnHeader {
  margin-left: 25px;
  background: #1977cc;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font: 14px "Sahel";
}
.btnHeader:hover {
  background: #166ab5;
  color: #fff;
}
@media (max-width: 768px) {
  .btnHeader {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}
#logo {
  width: 75px;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 8px 0 8px 20px;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: 14px "Sahel";
  white-space: nowrap;
  transition: 0.3s;
  border-bottom: 2px solid #fff;
  padding: 5px 2px;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #1977cc;
  border-color: #1977cc;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  right: 0;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  text-align: center;
  min-width: fit-content;
}
.navbar .dropdown ul a {
  text-align: center;
  padding: 10px 20px;
  font:500 14px;
  text-transform: none;
  color: #082744;
  border: none;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #1977cc;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  background: url(/src/images/hero-bg.jpg) top center;
  background-size: cover;
  margin-bottom: -200px;
  font-family: "Shabnam";
}
@media (max-width: 991px) {
  #hero {
    margin-bottom: 0;
    height: 100vh;
  }
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
.hero-title {
  font-family: "Samim";
  line-height: 1.5em;
  letter-spacing: 00.08rem;
}
.searchBox {
  height: 200px;
  border-radius: 0.5em;
}
.expertSearch,
.doctorSearch {
  font-family: "Shabnam";
  align-items: flex-end;
}
#docSearch {
  border-radius: 0;
  border-top-left-radius: 15px;
  height: 4em;
  border: none;
}
#expSearch {
  border-radius: 0;
  border-top-right-radius: 15px;
  height: 4em;
  border: none;
}
#expSearch:hover , #docSearch:hover {
  background: #FFD659;
}
.input-hero:focus,
.input-hero {
  outline: none;
  box-shadow: none;
  border: solid 2px orange;
  padding: 0.4em;
}
.searchTitle {
  color: #fff;
  text-align: right;
}
.hero-input:focus{
  outline: none;
  box-shadow: none;
}
._active {
  background: #c7c7c7;
}
#expSearch:focus,
#docSearch:focus {
  outline: none;
  box-shadow: none;
}
/*--------------------------------------------------------------
# DoctorRegister & UserRegister
--------------------------------------------------------------*/
.doc-reg-main {
  background: url(/src/images/backReg.jpg) center;
  background-size: cover;
  font-family: "Sahel";
}
.doc-reg-card {
  background-image: radial-gradient(
    circle,
    #ffffff,
    #fafafa00,
    #f5f5f5,
    #f1f1f1,
    #ececec
  );
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.form-control {
  border: 1px rgb(0, 217, 255) solid;
}
.form-control:focus {
  border: 1px rgb(255, 174, 0) solid;
}
.doc-reg-title {
  background: linear-gradient(
    to right,
    #bdfff6,
    #dcfffa,
    transparent,
    #dcfffa,
    #bdfff6
  );
  border-radius: 0.3rem;
}
.responsive-calendar {
  font-size: 9px !important; /* default to 10px */
}
@media (max-width: 1500px) {
  .responsive-calendar {
    font-size: 8px !important;
  }
}
@media (max-width: 1200px) {
  .responsive-calendar {
    font-size: 7px !important;
  }
}
@media (max-width: 768px) {
  .responsive-calendar {
    font-size: 6px !important;
  }
}
/* Large screens */
@media (min-width: 2500px) {
  .responsive-calendar {
    font-size: 12px !important;
  }
}
.DatePicker {
  position: relative;
  display: block !important;
  z-index: 100;
}
#doc-reg-logo {
  width: 5rem;
}
/*--------------------------------------------------------------
# UserRegister
--------------------------------------------------------------*/
.bg-user-reg {
  font-family: "Sahel";
  width: 100%;
  background: url(/src/images/reg-back.jpg) center;
  background-size: cover;
}
#user-reg-title {
  background: linear-gradient(
    to right,
    #f2bdff,
    #f6d2ff,
    transparent,
    #f6d2ff,
    #f2bdff
  );
}
.-top {
  padding-top: -100px;
  max-height: 100px !important;
}
/*--------------------------------------------------------------
# UserLogin
--------------------------------------------------------------*/
.bg-user-log {
  font-family: "Sahel";
  width: 100%;
  background: url(/src/images/reg-back.jpg) center;
  background-size: cover;
}
.form-container {
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: 1;
}
.form-container .form-horizontal {
  padding: 30px 30px 10px;
  border: 1px solid #e7e7e7;
}
.form-container .form-horizontal:before,
.form-container .form-horizontal:after {
  content: "";
  background-color: #fff;
  height: 100%;
  width: 100%;
  border: 1px solid #e7e7e7;
  transform: rotate(3deg);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.form-container .form-horizontal:after {
  transform: rotate(-3deg);
}
.form-container .title {
  color: #777;
  background: linear-gradient(
    to right,
    #f5f5f5,
    transparent,
    transparent,
    transparent,
    #f5f5f5
  );
  font: 600 23px;
  text-align: center;
  text-transform: capitalize;
  padding: 2px;
  margin: 0 0 20px 0;
  font-family: "Sahel";
}
.form-horizontal .form-group {
  background-color: #eaeaea;
  font-size: 0;
  margin: 0 0 15px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
}
.form-horizontal .input-icon {
  color: #888;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 40px;
  vertical-align: top;
  display: inline-block;
}
.form-horizontal .form-control {
  color: #555;
  font:14px "Sahel";
  background-color: transparent;
  letter-spacing: 1px;
  width: calc(100% - 55px);
  height: 40px;
  padding: 2px 10px 2px 0;
  box-shadow: none;
  border: none;
  border-radius: 0;
  display: inline-block;
  transition: all 0.3s;
}
.form-horizontal .form-control:focus {
  box-shadow: none;
  border: none;
}
.form-horizontal .form-control::placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  text-transform: capitalize;
}
.form-horizontal .btn {
  color: #fff;
  background: linear-gradient(#1dd1a1, #10ac84);
  font:600 16px "Sahel";
  text-transform: capitalize;
  width: 100px;
  padding: 5px 18px;
  margin: 0 0 15px 0;
  border: none;
  border-radius: 30px;
  display: inline-block;
  transition: all 0.3s ease;
}
.form-horizontal .btn:hover,
.form-horizontal .btn:focus {
  color: #fff;
  letter-spacing: 2px;
}
.form-horizontal .forgot-pass {
  font-size: 12px;
  text-align: right;
  width: calc(100% - 105px);
  display: inline-block;
  vertical-align: top;
}
.form-horizontal .forgot-pass a,
.form-horizontal .register a {
  color: #999;
  transition: all 0.3s ease;
}
.form-horizontal .forgot-pass a:hover,
.form-horizontal .register a:hover {
  color: #555;
  text-decoration: underline;
}
.form-horizontal .register {
  font-size: 12px;
  text-align: center;
  padding-top: 8px;
  border-top: 1px solid #e7e7e7;
  display: block;
}
.register,
.forgot-pass {
  font-family: "Sahel";
}
#signin-doctor {
  background: #1076d6;
}

/*--------------------------------------------------------------
# WhyUs
--------------------------------------------------------------*/
.why-us {
  margin: 125px 0 50px 0;
}
@media (max-width: 991px) {
  .why-us {
    margin: 70px 0 50px 0;
  }
}
.why-us .content {
  font-family: "Samim";
  padding: 30px;
  background: #1977cc;
  border-radius: 4px;
}
.why-us h4 {
  font-family: "Samim";
}
.why-us .content h3 {
  font:700 34px;
  margin-bottom: 30px;
}
.why-us .content p {
  margin-bottom: 30px;
}
.why-us .content .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 8px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}
.why-us .content .more-btn i {
  font-size: 14px;
}
.why-us .content .more-btn:hover {
  color: #1977cc;
  background: #fff;
}
.why-us .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
}
.why-us .icon-boxes .icon-box i {
  font-size: 40px;
  color: #1977cc;
  margin-bottom: 30px;
}
.why-us .icon-boxes .icon-box h4 {
  font:700 20px;
  margin: 0 0 30px 0;
}
.why-us .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}
