/*--------------------------------------------------------------
# Public
--------------------------------------------------------------*/
@font-face {
  font-family: "Parastoo";
  src: url("./Web-font/Parastoo.eot");
  src: url("./Web-font/Parastoo.woff") format("woff"),
    url("./Web-font/Parastoo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sahel";
  src: url("./Web-font/Sahel.eot");
  src: url("./Web-font/Sahel.woff") format("woff"),
    url("./Web-font/Sahel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Samim";
  src: url("./Web-font/Samim.eot");
  src: url("./Web-font/Samim.woff") format("woff"),
    url("./Web-font/Samim.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shabnam";
  src: url("./Web-font/Shabnam.eot");
  src: url("./Web-font/Shabnam.woff") format("woff"),
    url("./Web-font/Shabnam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
a,
a:hover {
  text-decoration: none;
}
/*--------------------------------------------------------------
# topbar
--------------------------------------------------------------*/
#topbar {
  height: 40px;
  z-index: 996;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
@media screen and (max-width: 991px) {
  #header2 {
    order: 3;
  }
}
@media screen and (max-width: 532px) {
  #header3 {
    display: none;
  }
}
#header {
  z-index: 997;
  padding: 15px 0;
  top: 12px;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.25);
}
.logo {
  line-height: 1;
  font: 700 24px "Parastoo";
  letter-spacing: 0.5px;
}
.logo a {
  color: #000000;
  margin: 0 12px;
}
#header .logo img {
  max-height: 40px;
}
/* Header Button */ 
.btnHeader {
  margin-left: 25px;
  background: #1977cc;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font: 14px "Sahel";
}
.btnHeader:hover {
  background: #166ab5;
  color: #fff;
}
@media (max-width: 768px) {
  .btnHeader {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}
#logo {
  width: 75px;
}
.header2Back {
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.25);
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.navbar ul {
  list-style: none;
}
.navbar li {
  position: relative;
}
.navbar > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 8px 0 8px 20px;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: 14px "Sahel";
  white-space: nowrap;
  transition: 0.3s;
  border-bottom: 2px solid #fff;
  padding: 5px 2px;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #1977cc;
  border-color: #1977cc;
}
.navbar .dropdown ul {
  top: calc(100% + 30px);
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: fit-content;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font: 500 14px;
  text-transform: none;
  color: #082744;
  border: none;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #1977cc;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.mainAbout {
  margin-top: 200px;
}
.mainAbout h3 {
  font-family: "Sahel";
}
/*--------------------------------------------------------------
# WhyUs
--------------------------------------------------------------*/
.why-us {
  margin: 150px 0 50px 0;
}
@media (max-width: 991px) {
  .why-us {
    margin: 70px 0 50px 0;
  }
}
.why-us .content {
  font-family: "Samim";
  padding: 30px;
  background: #1977cc;
  border-radius: 4px;
}
.why-us h4 {
  font-family: "Samim";
}
.why-us .content h3 {
  font: 700 34px;
  margin-bottom: 30px;
}
.why-us .content p {
  margin-bottom: 30px;
}
.why-us .content .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 8px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}
.why-us .content .more-btn i {
  font-size: 14px;
}
.why-us .content .more-btn:hover {
  color: #1977cc;
  background: #fff;
}
.why-us .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
}
.why-us .icon-boxes .icon-box i {
  font-size: 40px;
  color: #1977cc;
  margin-bottom: 30px;
}
.why-us .icon-boxes .icon-box h4 {
  font: 700 20px;
  margin: 0 0 30px 0;
}
.why-us .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}
